extends layout

  block content
    header.navbar.navbar-default
      div.container
        div.navbar-header
          h1 Home Tap
        div.navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active 
              a(href='/') User Orders
            li 
              a(href='/admin/beers') Manage Beer Listings
            li
              a(href='/admin/settings') Settings
            li
              a(href='/logout') Logout  


