extends layout

block content
  header
    h1 Home Tap

  
  div
    .left
      p User Queues
      p Settings
  
  div
    .right
      h2 Manage Beer Listings
      p User Name / Next Beer Name / Button
      p User Name / Next Beer Name / Button
      p User Name / Next Beer Name / Button

 
