extends layout

block content
  header
    h1 Home Tap

  
  div
    .left
      p User Queues
      p Settings
  
  div
    .right
      .button
        a(href='/admin/beers')
          button(type='button') Manage Beer Listings
      div.form
        - each user in userList
          p #{user.screenName} #{user.queue[0]}

 
