extends layout

block content
  header
    h1 Home Tap

  sidebar
    .left
      p User Queues
      p Settings
  
  div
    h2 Manage Beer Listings
      p User Name / Next Beer Name / Button
      p User Name / Next Beer Name / Button
      p User Name / Next Beer Name / Button

 
