extends layout

block content
  header
    h1 Home Tap

  
  div
    a(href='/') User Orders
    br
    a(href='/admin/settings')
      button(type='button') Settings
    br
    a(href='/admin/beers')
      button(type='button') Manage Beer Listings

  div
    table
      thead
        tr: th User Orders
      tbody
        each user in userList
          tr 
            td #{user.screenName} 
                td #{user.queue[0]}
                  td
                    button(class='fulfillOrder', data-id= '#{user._id') Send Order

