extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        button(type="btn" class="navbar-toggle" data-toggle="collapse")
        a(href='/user')
          img.nav(src='/images/HomeTap.jpg')
      div(class='collapse navbar-collapse' id='spy-scroll-id')
        ul.nav.navbar-nav
          li
            a(href='/admin') 
              button.nav(class='btn navbar-btn' type='button') User Orders
          li
            a(href='/admin/beers')
              button.nav(class='btn navbar-btn' type='button') Manage Beer Listings 
          li
            a(href='/logout')
              button.nav(class='btn navbar-btn' type='button') Logout 


