extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        button(type="btn" class="navbar-toggle" data-toggle="collapse")
        a(href='/user')
          img.nav(src='/images/hometap.jpg')
      div(class='collapse navbar-collapse' id='spy-scroll-id')
        ul.nav.navbar-nav
          li
            a(href='/admin') 
              button.nav.active(class='btn navbar-btn' type='button') User Orders
          li
            a(href='/admin/beers')
              button.nav(class='btn navbar-btn' type='button') Manage Beer Listings 
          li
            a(href='/logout')
              button.nav(class='btn navbar-btn' type='button') Logout 

  .container
    table.table.table-striped.col-md-6
      thead
        tr: th User Orders
        tr
          th User Name
          th Beer
      tbody
        each user in users
          tr
            td #{user.screenName}
            td #{user.queue[0]}
            td: button(class='btn fulfillOrder' data-id='#{user._id}') Send Order

  script(type='text/javascript' src='/javascripts/admin_home.js')
