extends layout

block content
  header
    img(src='/images/HomeTap.jpg')
  br
  .container.index
    a(href='/login') 
      button(class="btn" type='submit') Log In
    br
    br
    a(href='/register') 
          button(class="btn" type='button') Register 
   
