doctype html
html
  head
    title=title
    link(rel='stylesheet' type='text/css' href='/stylesheets/normalize.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel='stylesheet' type='text/css' href='/stylesheets/test.css')
    //- link(rel='stylesheet' type='text/css' href='/stylesheets/responsive.css')
    //- link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    block content
      body
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")

