doctype html
html
  head
    title=title
    link(rel='stylesheet' type='text/css' href='/stylesheets/normalize.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/responsive.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  body
    block content
      header
        h1 Home Tap
