extends layout

block content
  header
    img(src='/images/HomeTap.jpg')
  h2 Login Page
  div(class="container")
    .login
      form(class="form-group" action='/login' method='POST')
        label(for='username') Enter E-mail
        &nbsp;&nbsp;
        input(class="form-control" type='text' name='username' placeholder='E-mail')
        br
        label(for='password') Enter Password
        &nbsp;&nbsp;
        input(class="form-control" type='password' name='password' placeholder='Password')
        br
        button(class="btn btn-primary" type='submit') Log In
        &nbsp;&nbsp;
        a(href='/')
          button(class="btn" type='button') Cancel

        p #{message}
