extends layout

block content
  header
    h1 Home Tap
  h2 Registration Page
  div.login  
    form(action='/register' method='POST')
      label(for='username') Enter User Name
      &nbsp;&nbsp;
      input(type='text' name='username' placeholder='User Name')
      br
      label(for='password') Enter Password
      &nbsp;&nbsp;
      input(type='text' name='password' placeholder='Password')
      br
      button(type='submit') Sign Up
      &nbsp;&nbsp;
      a(href='/')
        button(type='button') Cancel

      p #{message}
