body {
  background-color: #FFDEBA;
}

input, li {
  margin: 4 10px;
  border-radius: 10;
}

p {
  margin-left: 40px;
  margin-top:  10px;
}

form {
  margin-left: 40px; 
}
/* updated styles */

header {
	background: #490102;
	padding: 20px;
}

nav.navbar.navbar-default {
    background: #490102;
    border: none;
    padding: 10px;
}

.active {
    color: #402A19;
}

h1 {
	font-size: 31px;
	max-width: 1140px;
	margin: 0 auto;
}

h2 {
    max-width: 1140px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    color: #444;
}

button.nav {
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

button {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background: #a7873c;
}

.submit {
    margin-bottom: 20px;
}

.buttonbottom {
    margin-left: 40px;
}

.categories {
    background: #FFCD9C;
    color: #402A19;
}

a:hover {
    color: white;
}

table.table.table-striped {
    border-bottom: #402A19;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFCD9C;
 }

img {
    width: 150px;
    height: 100px;
}

img.nav {
    width: 150px;
    height: 100px;
    padding: 0 5px 0 0;
    margin-left: 0;
}

.index {
    margin-left: 80px;
}


input[type="text"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

